.header-container{
   text-align: center;
   background-color: rgb(23, 44, 50);
   padding: 2%;
}

nav ul li {
    display: inline;
    padding: 2%;
    list-style-type: none;
    
    
    
}

nav ul li a {
    color: orange;
    text-decoration: none;
    font-size: larger;
}
    
    
.hero-text{
    text-align: center;

    color: rgb(255, 255, 255);
    
}

.hero-image{
 
  background-image: url(./images/architecture.jpg);
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  
  
  

}

.hero-text{
    font-size:x-large;
    color: white ;
    
}
.hero-text button {
    font-size: x-large;
    padding: 5%;
    border: 3px solid white;
    border-radius: 20px;
    color: aliceblue;
    background-color:orange ;
   
}


