
 

    *, html {
        margin: 0;
        padding: 0;

    }


body {
    background-color: white;
}



.header-container{
   
    text-align: center;
   background-color: rgb(23, 44, 50);
   padding: 2%;

   
}




#weather{
    padding: 1%;
    color: white;
    text-align: left;
    font-size: large;
    
    
}

nav ul li {
    font-family: "Comfortaa";
    display: inline;
    padding: 2%;
    list-style-type: none;
    font-size: larger;
    
    
    
    
}

nav ul li a {
    color: rgb(200, 115, 34);
    text-decoration: none;
    font-size: larger;
   
    
    
}
    
   .header-container img{
        display: inline;
      
    }

    
    


.hero-image{
 
  background-image: url(./images/architecture.jpg);
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border-top: 10px solid rgb(200, 115, 34);
  
}



.hero-text{
    font-family:"Comfortaa";
    text-align: center;
    font-size:x-large;
    color: white ;
    
}

.hero-text h2{
    font-family:serif;
    font-size: smaller;
    color: white;
    padding: 2%;
}
.hero-text button {
    font-size: x-large;
    padding: 2% 15% 2% 15% ;
    border: 1px solid white;
    border-radius: 20px;
    color: aliceblue;
    background-color:rgb(200, 115, 34) ;
   
}



main {
margin: 0;
justify-content: center;
text-align: center;
background-color: antiquewhite;
   

}

main h1{
    font-family: "Comfortaa";
    color: rgb(255, 255, 255);
    background-color: rgb(23, 44, 50);
    padding: 3%;
    text-align:center;

   
}





#grid{
    min-height: 700px;
    max-height: 800px;
    display: grid;
    grid-template-rows: repeat(1, 1fr) minmax(200px, 1fr);
    grid-template-columns:repeat(3, 1fr) minmax(200px,1fr);
  
    

    
}

#grid figure h1{
    font-size: x-large;
    flex: 1;
    display: inline-block;
    white-space: nowrap;
}

figure {
    margin: 1%;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: 0;
  
}


figcaption{
   
   font-size: larger;
    color: rgb(23, 44, 50);
    padding: 3%;

  
 }



#grid figure img {

    max-width: 100%;
    min-height: 100%;
    object-fit:cover;
   background-color: antiquewhite;
   border-bottom: 10px solid rgb(200, 115, 34);
  
  
   
}



#grid h1{
   background-color: antiquewhite;
   color: rgb(200, 115, 34);
   padding: 2%;
   margin-bottom: 0;
   margin-right: 10%;
   margin-left: 10%;
   font-size: 12px;
   margin-top: 20%;
   
}



.room-container {
justify-content: space-evenly;
 display: flex;
 flex-direction: row;
background-color: rgb(32, 33, 34);
  margin: 0;
}

.room-container img {
  max-width: 100%;
  min-width: 0;
  
}


.text-container h2{
    font-family: "Comfortaa";
    color: rgb(255, 255, 255);
    padding: 5%;
   
}

.text-container figcaption{
    color: white;
    padding: 2%;
    font-size: larger;
   
   
    
    
}

button{
    padding: 2%;
    margin: 2%;
    background-color: rgb(200, 115, 34);
    border: none;
    border-radius: 100px;
    font-size: x-large;
    color: white;

}




section{
    padding: 10%;
}

section h1{
    background-color: rgb(23, 44, 50);
    font-size: xx-large;
}

section p{
    padding: 5%;
    font-size: xx-large;
    color: rgb(23, 44, 50);
    font-family: "Comfortaa";
    font-style:italic;

}

footer{
    text-align: center;
    padding: 5%;
    background-color: rgb(23, 44, 50);
    color: aliceblue;
    font-size: x-large;


}



@media only screen and (max-width: 1300px){
    #grid{
   min-height:500px ;
    max-height:1200px;
    grid-template-rows: repeat(1, 1fr) minmax(500px, 1fr);
    grid-template-columns:repeat(1, 1fr) minmax(200px,1fr);
  margin-bottom: 50%;
    }

  

    .room-container{
      
        flex-direction: column;


    }


    nav ul li {
        font-family: "Comfortaa";
        display: inline;
        padding: 2%;
        list-style-type: none;
        font-size: large;
    
}
}

@media only screen and (max-width: 850px){

    nav ul li {
        font-family: "Comfortaa";
        display: inline;
        padding: 2%;
        list-style-type: none;
        font-size: small;
    
}

.header-container img{
    display: inline;
    max-width: 100%;
    max-height: 100%;
    
  
}

}


@media only screen and (max-width: 850px){
    #grid{
        display: contents;
    
    }


    .header-container{
   
        text-align: center;
       background-color: rgb(23, 44, 50);
       padding: 2%;
    
       
    }
    
  

    .room-container{
      
        flex-direction: column;


    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }


    nav ul li {
        font-family: "Comfortaa";
        display: inline;
        padding: 2%;
        list-style-type: none;
        font-size: x-small;
    
}

.header-container img{
   
    max-width: 100%;
    
 }
}


