
main{
background-color: rgb(32, 33, 34) ;
}

main h1{
    color: black;
    text-align: center;
    padding-top: 5%;
    background-color:  rgb(200, 115, 34);
}


main h2{
    background-color: rgb(200, 115, 34);
    padding-bottom: 5%;
    color: black;
}

main p{
    padding: 5%;
    margin: 2%;
    color: white;
    font-size: x-large;
}

.checked{
    color: rgb(200, 115, 34);
}

main h3{
color: black;
background-color: rgb(200, 115, 34);
padding: 10%;
font-size: x-large;
}


